// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;

// Nos couleurs
$black: #212121;
$gray: #323232;
$duck: #0D7377;
$blue: #14FFEC;
