
.header-subtitle{
  font-size: 16px;
}
.header-content{
  margin-bottom: 32px;
  width: 700px;
}
.btn-search{

  background-color: $duck;
  border: 1px solid $duck;
  color: white;
  border-radius: 3px;
  margin: 16px;
}
.control{
  width:500px;

}
.header-description{

  margin-top: 32px;
}
.search-form-control{
  display: flex;
  justify-content: center;
}
