<%= simple_form_for [@capsule, @booking] do |f| %>
  <div data-controller="price-count">
    <%= f.input :start_date, label: "Date de départ", as: :string, input_html: { id: "start-date", data: { controller: "datepicker", price_count_target: "start" }, value: f.object.start_date&.strftime("%d-%m-%Y"), placeholder: 'jj-mm-aaaa' } %>
    <%= f.input :end_date, label: "Date de retour", as: :string, input_html: { id: "end-date", data: { controller: "datepicker", price_count_target: "end", action: "change->price-count#totalPrice" }, value: f.object.start_date&.strftime("%d-%m-%Y"), placeholder: 'jj-mm-aaaa' } %>
    <%= f.submit 'Réserver' %>
  </div>
<% end %>
