<div>
    <h1><%= @capsule.name %></h1>
    <p>Retrouvez-vous en <%= @capsule.year %> le temps d'un voyage inoubliable</p>
  </div>
</div>

<div>
  <%= render 'form_new_booking', [booking: @booking, capsule: @capsule] %>
</div>
