<h1>test show user</h1>

<h3>Your bookings</h3>
<div class="container">
  <% @user.bookings.each do |booking| %>
    <%= booking.capsule.name %>
    <%= booking.start_date %>
    <%= booking.end_date %>
    <%= link_to "Annuler ma réservation", user_booking_path(@user), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>
