<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/capsulcorpo/?hl=fr"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/CapsuleCorpStudio/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/capsulecorpstd"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/capsule-corporation-ltd/?originalSubdomain=fr"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Capsule Corp is a production of the Clash of Buzz team !
  </div>
</div>
