.capsules-title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
  color: $gray;
}

.capsules-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
}

.capsule-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.capsule-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.capsule-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.capsule-card-infos {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;
}

.capsule-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.capsule-name {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.capsule-year {
  font-weight: 300;
  color: #777;
}

.capsule-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.4;
  margin-bottom: 1rem;

}

.card-trip-pricing {
  font-size: 1.2rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 1rem;
}

.capsule-show-link {
  display: inline-block;
  background-color: #00b0ff;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-align: center;
  font-size: 1.1rem;
}

.capsule-show-link:hover {
  background-color: #008fcc;
}
