.navbar {
  display: flex;
  background-color: #ffffff;
  padding: 1rem 0;

}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  flex-grow: 1;

}

.navbar-logo {
  display: inline-block;
  font-size: 1.9rem;
  color: #fff;
  text-decoration: none;
  max-width: 100%;
  height: auto;
  width: 100px;
  margin-top: 8px;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  display: inline-block;
  font-size: 11px;
  font-weight:600;
  color: $gray;
  text-decoration: none;
  transition: color 0.3s;
  align-items: center;
  margin-top: 8px;

  &:hover {
    color: $blue;
  }
}

.avatar {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 1;
}

.dropdown-menu .dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f1f1f1;
  }
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

body{
  background-color: white;
  }

  label{
  display: inline-block;
  font-size: 55px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 10px;
  color: #28324E;
  }



  .loupe{
  display: inline-block;
  position: relative;
  border: 3px solid $duck;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
  transition: all .5s;
  }

  .loupe:hover{
  border-color: $duck;
  background-color: white;
  }

  .loupe:hover > .queue{
  border-color:$duck;
  }

  .loupe > .queue{
  border: 3px solid $duck;
  position: absolute;
  right: -8px;
  bottom: -6px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  width: 10px;
  transform: rotateZ(45deg);
  transition: all .5s;
  }

  .loupe-active{
  border-radius: 4px;
  height: 40px;
  line-height: 32px;
  width: 400px;
  border-width: 1px;
  }

  .loupe > .search{
  display: none;
  opacity: 0;
  }

  .loupe-active > .queue{
  opacity: 0;
  }

  .loupe-active > .search{
  display: inherit;
  opacity: 1;
  }

  .loupe-active > .close{
  opacity: 1;
  }

  .search{
  color:$gray;
  outline: none;
  position: absolute;
  background-color: transparent;
  height: 35px;
  left: 0px;
  width: calc(100% - 35px);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding-left: 10px;
  transition: all 1s;
  }

  .close{
  position: absolute;
  top: 4px;
  font-family: 'Nunito', sans-serif;
  color: $gray;
  right: 10px;
  opacity: 0;
  transition: all .5s;
  }

  .close:hover{
  color: $blue;
  }
.container-search{

}
