.container_profil{
  display: block;
  justify-content: center;
  margin-top: 32px;
  height: 100%;
}

.identity{
  padding: 32px;
  width: 550px;
  display: flex;
  justify-content: center;
  margin: auto;

}
.full-username{
  display: block;
}
.identity .avatar-container{
  height: 100px;
  width: 100px;
  margin-right: 32px;
}
.container-booking{
  background-color: #0fd4c7;
  padding: 32px;
  width: 100%;
  display: block;
  margin: auto;

}
h1,h2,h3{
  text-align: center;
  margin-top: 32px;
}
