// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";


// body {
//   background-image: assert-url('portal.png');
// }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #e0e0e0;
  align-items: center;
}


h1 {
  font-family: "Sora", sans-serif;
}
h2 {
  font-family: "Sora", sans-serif;
}
// CSS SIGN_UP
.main_container{
  display: flex;
  justify-content: center;
  margin-top: 32px;

}
.container_sign_up{

  width: 400px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px 2px 34px -12px rgba(0,0,0,0.75);
  padding: 32px;

}
.container_sign_up h1{
  text-align: center;
}
// HOME PAGE
.container_home{
  padding: 32px;
  border-radius: 5px;

}
