// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";


// body {
//   background-image: assert-url('portal.png');
// }


// CSS SIGN_UP
.main_container{
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.container_sign_up{

  width: 400px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px 2px 34px -12px rgba(0,0,0,0.75);
  padding: 32px;

}
.container_sign_up h1{
  text-align: center;
}
// HOME PAGE

//HOME BANNER
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.banner h2{
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(72, 72, 72, 0.2);
  text-align: center;
}
